*.suo
*.sln
*.dll
*.exe
*.application
*.manifest
*.pdb
*.Cache
*.resources
*.cache
*.txt
SIM-RS/bin/Debug/*.*
SIM-RS/obj/x86/Debug/*.*
*.user
SIM-RS/obj/x86/Debug/edmxResourcesToEmbed/*.*
_ReSharper.SIM-RS/*.*
_ReSharper.SIM-RS/*
SIM-RS/bin/Debug/*.*
SIM-RS/DLL
 
